/Antecedent_dataset_regression_analysis/top_quality_embedding_len=500.pkl
/Antecedent_dataset_regression_analysis/top_viral_embedding_len=500.pkl
/Antecedent_dataset_regression_analysis/model_quality_only_view.pth
/Antecedent_dataset_regression_analysis/viral_cnn_encoder.pth
/Antecedent_dataset_regression_analysis/model.pth
/Antecedent_dataset_regression_analysis/model_quality.pth
/Antecedent_dataset_regression_analysis/model_quality2.pth
/Antecedent_dataset_regression_analysis/quality_cnn_encoder.pth